html {
  height: 100%;
  width: 100%;
}

#receitas {
  background-color: #4CE494;
  border: 10px solid #060270;
  padding: 20px;
}

.form-container {

  max-width: 600px;
  margin: 30px auto;
  background-color: #8be2e6;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0, 0.1);
  border: 1px solid #dcb;
}

form{
  display: flex;
  flex-direction: column;
}

form label{
  margin-top: 15px;
  font-weight: bold;
  color: rgb(42, 43, 54);
}

form input,
form select,
form textarea {
   margin-top: 5px;
   padding: 10px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid #dcb;
   background-color: #ffffff;
   box-sizing: border-box;
}

form textarea {
  resize: vertical;
}

form button {
  margin-top: 25px;
  padding: 12px;
  font-size: 18px;
  background-color: rgb(95, 68, 232);
  color: white;
  border: none; 
  border-radius: 8px;
  cursor: pointer;
  transition: background-volor 0,3s ease;
}

form button:hover {
  background-color: #d4f5f7;
}